.swipeIcon {
  background: white;
  height: 100px;
  width: 100px;
  padding: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
.swipeIcon:hover {
  background: #ddd;
  cursor: pointer;
}

.treeprof {
  margin-top: 40px;
  padding: 0 !important;
  overflow: hidden;
  border-radius: 25px;
}

@media (min-width: 1200px) {
  .treeprof {
    margin-left: 37.5%;
  }
}

.treedata {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20% 5% 0;
  text-shadow: 0.1em 0.2em 0.2em black;
  color: #eaeaea;
  font-weight: 600;
  border-radius: 0 0 25px 25px;
  line-height: 0.6em;
}

.iconShow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }

  25% {
    opacity: 0.4;
    transform: translate(-50%, -50%) scale(2.1);
  }
  50% {
    opacity: 0.7;
    transform: translate(-50%, -50%) scale(2.2);
  }
  75% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(2.3);
  }
}

.endoftrees {
  margin-top: 5vh;
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #444;
}

.endoftrees img {
  max-width: 60%;
  max-height: 60%;
}

.treedata div {
  vertical-align: middle;
}

.tree-icon {
  max-width: 18px;
  max-height: 18px;
  margin: 0 5px;
}
